<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="SysTitle" value="智能柜管理系统" />
    <add key="CabinetID" value="1" />
    <add key="CabinetPort" value="COM1" />
    <add key="CardPort" value="COM3" />
  </appSettings>
  <connectionStrings>
    <add name="NPG" connectionString="037ZAhRg+/NKLUh2qAtv7HLIxK7GDHRk/KRuIk7RsKap3sRHK4ojTdm0pWaNWfS+wjDgDLjqpGPTQOH9Zh9AWx7fLucW4bToyhcPkkSL6mo=" />
    <add name="FaceID" connectionString="vXpGBMUf7TIa3rgOP3dm2J0kmhXWoCdXb23Im+57+SLsa2IraUzJA5I5mW+6v6pW" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
